{% extends 'navbar.html' %} {% block content %}

<div class="about">
  <p>
    Are you ready to participate in the biggest photo contest in the world?! The
    <b>Wiki Loves Brasil</b> application offers you several ways to participate:
    Sending your photographs of Brazilian monuments in a simplified way,
    geolocating monuments without registered coordinates and suggesting
    monuments that happen not to be on the lists.<br /><br />
    Wiki Loves Monuments is the biggest photo contest in the world! The national
    stage takes place between September 1st and 30th, 2022.<br /><br />
    Participate and compete for prizes of up to R$2500. More details on the
    <a
      href="https://pt.wikipedia.org/wiki/Wikip%C3%A9dia:Wiki_Loves_Monuments_2022/Brasil"
      >contest page on Wikipedia</a
    >.<br /><br />
    <i>Wiki Loves Brasil</i> is an application developed by
    <a href="https://meta.wikimedia.org/wiki/Wiki_Movement_Brazil_User_Group/pt"
      ><i>Wiki Movimento Brasil user</i></a
    >
    group.<br /><br />
    Doubts, complaints, suggestions or compliments: Send a message to
    <a href="mailto:eder.porto@wmnobrasil.org">eder.porto@wmnobrasil.org </a> .
  </p>
  <hr />

  <small>
    This app is inspired by the
    <a href="https://maps.wikilovesmonuments.org/">Wiki Loves Monuments Map</a>,
    developed by Paweł Marynowski and Stephen LaPorte'<br />
    This app was developed in
    <a href="https://pt.wikipedia.org/wiki/Flask_(framework_web)">
      <i>Flask</i></a
    >. <br />
    The source code is available on
    <a href="https://github.com/WikiMovimentoBrasil/wikilovesbrasil">GitHub</a>.
    <br />
    Source code license:
    <a
      href="https://github.com/WikiMovimentoBrasil/wikilovesbrasil/blob/main/LICENSE"
      >GPL v3.0 </a
    >. <br />
    Text license:
    <a href="https://creativecommons.org/licenses/by-sa/4.0/"
      >CC-BY-SA 4.0 International</a
    >
    . <br />
    Maps License:
    <a href="https://opendatacommons.org/licenses/odbl/1-0/">ODbL v1.0</a> .
    <br />
    License of metadata returned from Wikidata:
    <a href="https://creativecommons.org/share-your-work/public-domain/cc0/"
      >CC0</a
    >
    . <br />
    Version 1.0.</small
  >
</div>
{% endblock %}
