{% extends 'navbar.html' %} {% block content %}
<div class="box">
  <h2 class="announcement">Countdown</h2>
  <p id="countdown-display" class="countdown-display"></p>
</div>
<div class="dashboard-stats">
  <div class="user-stats">
    <canvas id="myChart"></canvas>
  </div>
  <script>
    var xValues = ["2015", "2016", "2018", "2019", "2020", "2021", "2022"];
    var yValues = [
      "{{puser2015}}",
      "{{puser2016}}",
      "{{puser2018}}",
      "{{puser2019}}",
      "{{puser2020}}",
      "{{puser2021}}",
      "{{puser2022}}",
    ];
    var barColors = [
      "red",
      "green",
      "blue",
      "orange",
      "brown",
      "pink",
      "yellow",
      "purple",
    ];

    new Chart("myChart", {
      type: "bar",
      data: {
        labels: xValues,
        datasets: [
          {
            backgroundColor: barColors,
            data: yValues,
          },
        ],
      },
      options: {
        legend: { display: false },
        title: {
          display: true,
          text: "Your Contribution over the years in Wiki Loves Monument Brazil Competition",
        },
      },
    });
  </script>

  <div class="blank">
    <h2>Your Contribution in the last competition</h2>
    <p>{{user_cont}}</p>
  </div>
</div>
<div id="map"></div>
<script>
  var map = L.map("map").setView([-14.2401, -53.1805], 13);
  L.tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", {
    maxZoom: 19,
    attribution:
      '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
  }).addTo(map);
</script>

{% for coord in coordinate %}{% if coord[0] != None %}

<script>
  var marker = L.marker([
    "{{(''.join(coord[0][1:-1])).split(',')[0] }}",
    "{{(''.join(coord[0][1:-1])).split(',')[1] }}",
  ]).addTo(map);

  marker.bindPopup("{{details[coordinate.index(coord)]}}").openPopup();
</script>
<!--<div>{{details }}</div>-->
{% endif %} {% endfor %} {% endblock %}
