{% extends 'navbar.html' %} {% block content %}
<div class="box">
  <h2 class="announcement">Countdown</h2>
  <p id="countdown-display" class="countdown-display"></p>
</div>
<div class="dashboard-stats">
  <div class="user-stats">
    <canvas id="myChart"></canvas>
  </div>
  <script>
    var xValues = ["2015", "2016", "2018", "2019", "2020", "2021", "2022"];
    var yValues = [
      "{{puser2015}}",
      "{{puser2016}}",
      "{{puser2018}}",
      "{{puser2019}}",
      "{{puser2020}}",
      "{{puser2021}}",
      "{{puser2022}}",
    ];
    var barColors = [
      "red",
      "green",
      "blue",
      "orange",
      "brown",
      "pink",
      "yellow",
      "purple",
    ];

    new Chart("myChart", {
      type: "bar",
      data: {
        labels: xValues,
        datasets: [
          {
            backgroundColor: barColors,
            data: yValues,
          },
        ],
      },
      options: {
        legend: { display: false },
        title: {
          display: true,
          text: "Your Contribution over the years in Wiki Loves Monument Brazil Competition",
        },
      },
    });
  </script>

  <div class="blank">
    <h2>Your Contribution in the last competition</h2>
    <p>{{user_cont}}</p>
  </div>
</div>

<div class="map-title"><h2>MAP SHOWING MONUMENT AND CAMERA GPS LOCATION</h2></div>
<div class="maps">
  <div id="map"></div>
  <script>
    var map = L.map("map").setView([-14.2401, -53.1805], 13);
    L.tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", {
      maxZoom: 19,
      attribution:
        '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
    }).addTo(map);
  </script>

  {% for monumentcoord in monumentcoordinate %}{% if monumentcoord[0] != None %}

  <script>
    var marker = L.marker([
      "{{(''.join(monumentcoord[0][1:-1])).split(',')[0] }}",
      "{{(''.join(monumentcoord[0][1:-1])).split(',')[1] }}",
    ]).addTo(map);

    marker
      .bindPopup(
        "{{monumentdetails[monumentcoordinate.index(monumentcoord)][0][0:]}}"
      )
      .openPopup();
  </script>
  <div>{{monumentcoord[0][1:-1]}}</div>
  {% endif %} {% endfor %} 

  
    <div id="map1"></div>
    <script>
      var map1 = L.map("map1").setView([-14.2401, -53.1805], 13);
      L.tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", {
        maxZoom: 19,
        attribution:
          '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
      }).addTo(map1);
    </script>

    {% for photographcoord in photographcoordinate %}{% if photographcoord[0] != None
    %}
    {% set photocoordlat = photographcoord[0][1:-1].split(", ")[0] | float%}
    {% set photocoordlong = photographcoord[0][1:-1].split(", ")[1] | float%}

    <script>
      var marker = L.marker([
        "{{photocoordlat}}",
        "{{photocoordlong}}",
      ]).addTo(map1);

      marker
        .bindPopup(
          "{{photographdetails[photographcoordinate.index(photographcoord)][0][0:]}}"
        )
        .openPopup();
    </script>
    <div>{{photocoordlat}}</div>
    {% endif %} {% endfor %}{% endblock %}
  </div>
</div>
