{% extends 'navbar.html' %} {% block content %}
<div class="stats">
  <div class="year-stats">
    <a
      href="{{ ''.join(['https://commons.wikimedia.org/wiki/Category:Images_from_Wiki_Loves_Monuments_', '{{year}}', '_in_Brazil'])}}"
    >
      <div class="year-one">
        <div class="one-year">
          <h2>YEAR {{year}} Statistics</h2>
          <div class="stats-tab">
            <div class="stat-tab">
              <h2>Total Contribution</h2>
              <p>{{photographyear}}</p>
            </div>
            <div class="stat-tab">
              <h2>Total Contributors</h2>
              <p>{{photographeryear}}</p>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>

  <h2>WINNERS FOR YEAR {{year}}</h2>
  <div class="stats-top">
    <div class="top-board">
      {% set file = (editionyear.place_1).replace((editionyear.place_1)[0:5],
      "")%} {% set url_file =
      "https://commons.wikimedia.org/wiki/Special:FilePath/" + file +
      "?width=250px" | string%}
      <div class="top-one" style="background-image: url('{{url_file}}')">
        <a
          href="{{ ''.join(['https://commons.wikimedia.org/wiki/', editionyear.place_1])}}"
          ><p>{{editionyear.place_1}} by {{winner_1.photographer}}</p></a
        >
      </div>
      <div class="top-two">
        {% set file2 = (editionyear.place_2).replace((editionyear.place_2)[0:5],
        "")%} {% set url_file2 =
        "https://commons.wikimedia.org/wiki/Special:FilePath/" + file2 +
        "?width=250px" | string%}
        <div
          class="top-two-left"
          style="background-image: url('{{url_file2}}')"
        >
          {#
          <p>{{winner_2.photographer}}</p>

          <a
            href="{{''.join(['https://www.wikidata.org/wiki/',winner_2.monument_id])}}"
            ><p>{{winner_2.monument_id}} by</p></a
          >
          <p>
            #}
            <a
              href="{{ ''.join(['https://commons.wikimedia.org/wiki/', editionyear.place_2])}}"
              ><p>{{editionyear.place_2}}</p></a
            >
          </p>
        </div>

        {% set file3 = (editionyear.place_3).replace((editionyear.place_3)[0:5],
        "")%} {% set url_file3 =
        "https://commons.wikimedia.org/wiki/Special:FilePath/" + file3 +
        "?width=250px" | string%}
        <div
          class="top-two-right"
          style="background-image: url('{{url_file3}}')"
        >
          {#
          <p>{{winner_3.photographer}}</p>
          <p>
            <a
              href="{{''.join(['https://www.wikidata.org/wiki/',winner_3.monument_id])}}"
              >{{winner_3.monument_id}}</a
            >
          </p>
          #}
          <a
            href="{{ ''.join(['https://commons.wikimedia.org/wiki/', editionyear.place_3])}}"
            ><p>{{editionyear.place_3}}</p></a
          >
        </div>
      </div>
    </div>
    <div class="top-three">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Winner</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">4</th>
            {#
            <td>{{winner_1.photographer}}</td>
            <td>
              <a
                href="{{''.join(['https://www.wikidata.org/wiki/',winner_4.monument_id])}}"
                >{{winner_1.monument_id}}</a
              >
            </td>
            #}
            <td>
              <a
                href="{{ ''.join(['https://commons.wikimedia.org/wiki/', editionyear.place_4])}}"
                >{{editionyear.place_4}}</a
              >
            </td>
          </tr>
          <tr>
            <th scope="row">5</th>
            {#
            <td>{{winner_5.photographer}}</td>
            <td>
              <a
                href="{{''.join(['https://www.wikidata.org/wiki/',winner_5.monument_id])}}"
                >{{winner_5.monument_id}}</a
              >
            </td>
            #}
            <td>
              <a
                href="{{ ''.join(['https://commons.wikimedia.org/wiki/', editionyear.place_5])}}"
                >{{editionyear.place_5}}</a
              >
            </td>
          </tr>
          <tr>
            <th scope="row">6</th>
            {#
            <td>{{winner_6.photographer}}</td>
            <td>
              <a
                href="{{''.join(['https://www.wikidata.org/wiki/',winner_6.monument_id])}}"
                >{{winner_6.monument_id}}</a
              >
            </td>
            #}
            <td>
              <a
                href="{{ ''.join(['https://commons.wikimedia.org/wiki/', editionyear.place_6])}}"
                >{{editionyear.place_6}}</a
              >
            </td>
          </tr>
          <tr>
            <th scope="row">7</th>
            {#
            <td>{{winner_7.photographer}}</td>
            <td>
              <a
                href="{{''.join(['https://www.wikidata.org/wiki/',winner_7.monument_id])}}"
                >{{winner_7.monument_id}}</a
              >
            </td>
            #}
            <td>
              <a
                href="{{ ''.join(['https://commons.wikimedia.org/wiki/', editionyear.place_7])}}"
                >{{editionyear.place_7}}</a
              >
            </td>
          </tr>
          <tr>
            <th scope="row">8</th>
            {#
            <td>{{winner_8.photographer}}</td>
            <td>
              <a
                href="{{''.join(['https://www.wikidata.org/wiki/',winner_8.monument_id])}}"
                >{{winner_8.monument_id}}</a
              >
            </td>
            #}
            <td>
              <a
                href="{{ ''.join(['https://commons.wikimedia.org/wiki/', editionyear.place_8])}}"
                >{{editionyear.place_8}}</a
              >
            </td>
          </tr>
          <tr>
            <th scope="row">9</th>
            {#
            <td>{{winner_9.photographer}}</td>
            <td>
              <a
                href="{{''.join(['https://www.wikidata.org/wiki/',winner_9.monument_id])}}"
                >{{winner_9.monument_id}}</a
              >
            </td>
            #}
            <td>
              <a
                href="{{ ''.join(['https://commons.wikimedia.org/wiki/', editionyear.place_9])}}"
                >{{editionyear.place_9}}</a
              >
            </td>
          </tr>
          <tr>
            <th scope="row">10</th>
            {#
            <td>{{winner_10.photographer}}</td>
            <td>
              <a
                href="{{''.join(['https://www.wikidata.org/wiki/',winner_10.monument_id])}}"
                >{{winner_10.monument_id}}</a
              >
            </td>
            #}
            <td>
              <a
                href="{{ ''.join(['https://commons.wikimedia.org/wiki/', editionyear.place_10])}}"
                >{{editionyear.place_10}}</a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
