{% extends 'navbar.html' %} {% block content %}
<div class="stats">
  <div class="stats-top">
    <div class="top-board">
      <div class="top-one">
        <img
          class="user"
          src="{{ url_for('static', filename= 'images/user-profile.svg') }}"
          alt='{{ ("Winner on Wiki Loves Monuments Brasil") }}'
        />
        <p>
          <a
            href="{{ ''.join(['https://commons.wikimedia.org/wiki/', edition2.place_1])}}"
            >{{edition2.place_1}}</a
          >
        </p>
      </div>
      <div class="top-two">
        <div class="top-two-left">
          <img
            class="user"
            src="{{ url_for('static', filename= 'images/user-profile.svg') }}"
            alt='{{ ("Winner on Wiki Loves Monuments Brasil") }}'
          />
          <p>
            <a
              href="{{ ''.join(['https://commons.wikimedia.org/wiki/', edition2.place_2])}}"
              >{{edition2.place_2}}</a
            >
          </p>
        </div>
        <div class="top-two-right">
          <img
            class="user"
            src="{{ url_for('static', filename= 'images/user-profile.svg') }}"
            alt='{{ ("Winner on Wiki Loves Monuments Brasil") }}'
          />
          <p>
            <a
              href="{{ ''.join(['https://commons.wikimedia.org/wiki/', edition2.place_3])}}"
              >{{edition2.place_3}}</a
            >
          </p>
        </div>
      </div>
    </div>
    <div class="top-three">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">User</th>
            <th scope="col">Filename</th>
            <th scope="col">Wikidata QID</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">4</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>
              <a
                href="{{ ''.join(['https://commons.wikimedia.org/wiki/', edition2.place_4])}}"
                >{{edition2.place_4}}</a
              >
            </td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>
              <a
                href="{{ ''.join(['https://commons.wikimedia.org/wiki/', edition2.place_5])}}"
                >{{edition2.place_5}}</a
              >
            </td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>Larry the Bird</td>
            <td>Thornton</td>
            <td>
              <a
                href="{{ ''.join(['https://commons.wikimedia.org/wiki/', edition2.place_6])}}"
                >{{edition2.place_6}}</a
              >
            </td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>
              <a
                href="{{ ''.join(['https://commons.wikimedia.org/wiki/', edition2.place_7])}}"
                >{{edition2.place_7}}</a
              >
            </td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>
              <a
                href="{{ ''.join(['https://commons.wikimedia.org/wiki/', edition2.place_8])}}"
                >{{edition2.place_8}}</a
              >
            </td>
          </tr>
          <tr>
            <th scope="row">9</th>
            <td>Larry the Bird</td>
            <td>Thornton</td>
            <td>
              <a
                href="{{ ''.join(['https://commons.wikimedia.org/wiki/', edition2.place_9])}}"
                >{{edition2.place_9}}</a
              >
            </td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>Larry the Bird</td>
            <td>Thornton</td>
            <td>
              <a
                href="{{ ''.join(['https://commons.wikimedia.org/wiki/', edition2.place_10])}}"
                >{{edition2.place_10}}</a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="bottom-board">
    <div class="bottom-left">
      <div class="previous-one">
        <h3>YEAR 2021</h3>
        <p>Total Contribution: {{photograph1}}</p>
      </div>
    </div>
    <div class="bottom-right">
      <div class="previous-two">
        <h3>YEAR 2022</h3>
        <p>Total Contribution: {{photograph2}}</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
