{% extends 'navbar.html' %} {% block content %}
<div class="stats">
  <div class="year-stats">
    <a href="/stats/2022">
      <div class="year-one">
        <div class="one-year">
          <h2>YEAR {{year}} Statistics</h2>
          <div class="stats-tab">
            <div class="stat-tab">
              <h2>Total Contribution</h2>
              <p>{{photographyear}}</p>
            </div>
            <div class="stat-tab">
              <h2>Total Contributors</h2>
              <p>{{photographeryear}}</p>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="stats-top">
    <div class="top-board">
      <div class="top-one">
        <img
          class="user"
          src="{{ url_for('static', filename= 'images/user-profile.svg') }}"
          alt='{{ ("Winner on Wiki Loves Monuments Brasil") }}'
        />
        <p>
          <a
            href="{{ ''.join(['https://commons.wikimedia.org/wiki/', editionyear.place_1])}}"
            >{{editionyear.place_1}}</a
          >
        </p>
        <div class="gold-medal">
          <img
            class="user"
            src="{{ url_for('static', filename= 'images/gold-medal.png') }}"
            alt='{{ ("Winner on Wiki Loves Monuments Brasil") }}'
          />
        </div>
      </div>
      <div class="top-two">
        <div class="top-two-left">
          <img
            class="user"
            src="{{ url_for('static', filename= 'images/user-profile.svg') }}"
            alt='{{ ("Winner on Wiki Loves Monuments Brasil") }}'
          />
          <p>
            <a
              href="{{ ''.join(['https://commons.wikimedia.org/wiki/', editionyear.place_2])}}"
              >{{editionyear.place_2}}</a
            >
          </p>
        </div>
        <div class="top-two-right">
          <img
            class="user"
            src="{{ url_for('static', filename= 'images/user-profile.svg') }}"
            alt='{{ ("Winner on Wiki Loves Monuments Brasil") }}'
          />
          <p>
            <a
              href="{{ ''.join(['https://commons.wikimedia.org/wiki/', editionyear.place_3])}}"
              >{{editionyear.place_3}}</a
            >
          </p>
        </div>
      </div>
    </div>
    <div class="top-three">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">User</th>
            <th scope="col">Wikidata QID</th>
            <th scope="col">Filename</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">4</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>
              <a
                href="{{ ''.join(['https://commons.wikimedia.org/wiki/', editionyear.place_4])}}"
                >{{editionyear.place_4}}</a
              >
            </td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>
              <a
                href="{{ ''.join(['https://commons.wikimedia.org/wiki/', editionyear.place_5])}}"
                >{{editionyear.place_5}}</a
              >
            </td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>Larry the Bird</td>
            <td>Thornton</td>
            <td>
              <a
                href="{{ ''.join(['https://commons.wikimedia.org/wiki/', editionyear.place_6])}}"
                >{{editionyear.place_6}}</a
              >
            </td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>
              <a
                href="{{ ''.join(['https://commons.wikimedia.org/wiki/', editionyear.place_7])}}"
                >{{editionyear.place_7}}</a
              >
            </td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>
              <a
                href="{{ ''.join(['https://commons.wikimedia.org/wiki/', editionyear.place_8])}}"
                >{{editionyear.place_8}}</a
              >
            </td>
          </tr>
          <tr>
            <th scope="row">9</th>
            <td>Larry the Bird</td>
            <td>Thornton</td>
            <td>
              <a
                href="{{ ''.join(['https://commons.wikimedia.org/wiki/', editionyear.place_9])}}"
                >{{editionyear.place_9}}</a
              >
            </td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>Larry the Bird</td>
            <td>Thornton</td>
            <td>
              <a
                href="{{ ''.join(['https://commons.wikimedia.org/wiki/', editionyear.place_10])}}"
                >{{editionyear.place_10}}</a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
