{% extends 'navbar.html' %} {% block content %}
<div class="stats">
  <div class="stats-top">
    <div class="top-board">
      <div class="top-one">
        <!--<img
          class="user"
          src="{{ url_for('static', filename= 'images/user-profile.svg') }}"
          alt='{{ ("Winner on Wiki Loves Monuments Brasil") }}'
        />-->
        <p>
          <a
            href="{{ ''.join(['https://commons.wikimedia.org/wiki/', edition2022.place_1])}}"
            >{{edition2022.place_1}}</a
          >
        </p>
        <div class="gold-medal">
          <img
            class="user"
            src="{{ url_for('static', filename= 'images/gold-medal.png') }}"
            alt='{{ ("Winner on Wiki Loves Monuments Brasil") }}'
          />
        </div>
      </div>
      <div class="top-two">
        <div class="top-two-left">
          <img
            class="user"
            src="{{ url_for('static', filename= 'images/user-profile.svg') }}"
            alt='{{ ("Winner on Wiki Loves Monuments Brasil") }}'
          />
          <p>
            <a
              href="{{ ''.join(['https://commons.wikimedia.org/wiki/', edition2022.place_2])}}"
              >{{edition2022.place_2}}</a
            >
          </p>
        </div>
        <div class="top-two-right">
          <img
            class="user"
            src="{{ url_for('static', filename= 'images/user-profile.svg') }}"
            alt='{{ ("Winner on Wiki Loves Monuments Brasil") }}'
          />
          <p>
            <a
              href="{{ ''.join(['https://commons.wikimedia.org/wiki/', edition2022.place_3])}}"
              >{{edition2022.place_3}}</a
            >
          </p>
        </div>
      </div>
    </div>
    <div class="top-three">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">User</th>
            <th scope="col">Wikidata QID</th>
            <th scope="col">Filename</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">4</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>
              <a
                href="{{ ''.join(['https://commons.wikimedia.org/wiki/', edition2022.place_4])}}"
                >{{edition2022.place_4}}</a
              >
            </td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>
              <a
                href="{{ ''.join(['https://commons.wikimedia.org/wiki/', edition2022.place_5])}}"
                >{{edition2022.place_5}}</a
              >
            </td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>Larry the Bird</td>
            <td>Thornton</td>
            <td>
              <a
                href="{{ ''.join(['https://commons.wikimedia.org/wiki/', edition2022.place_6])}}"
                >{{edition2022.place_6}}</a
              >
            </td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>
              <a
                href="{{ ''.join(['https://commons.wikimedia.org/wiki/', edition2022.place_7])}}"
                >{{edition2022.place_7}}</a
              >
            </td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>
              <a
                href="{{ ''.join(['https://commons.wikimedia.org/wiki/', edition2022.place_8])}}"
                >{{edition2022.place_8}}</a
              >
            </td>
          </tr>
          <tr>
            <th scope="row">9</th>
            <td>Larry the Bird</td>
            <td>Thornton</td>
            <td>
              <a
                href="{{ ''.join(['https://commons.wikimedia.org/wiki/', edition2022.place_9])}}"
                >{{edition2022.place_9}}</a
              >
            </td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>Larry the Bird</td>
            <td>Thornton</td>
            <td>
              <a
                href="{{ ''.join(['https://commons.wikimedia.org/wiki/', edition2022.place_10])}}"
                >{{edition2022.place_10}}</a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="bottom-board">
    <div class="bottom-one">
      <a href="/stats/2022">
        <div class="previous-one">
          <h3>YEAR 2022</h3>
          <p>Total Contribution: {{photograph2022}}</p>
        </div>
      </a>
    </div>

    <div class="bottom-one">
      <a href="/stats/2021">
        <div class="previous-one">
          <h3>YEAR 2021</h3>
          <p>Total Contribution: {{photograph2021}}</p>
        </div>
      </a>
    </div>

    <div class="bottom-one">
      <a href="/stats/2020">
        <div class="previous-one">
          <h3>YEAR 2020</h3>
          <p>Total Contribution: {{photograph2020}}</p>
        </div>
      </a>
    </div>

    <div class="bottom-one">
      <a href="/stats/2019">
        <div class="previous-one">
          <h3>YEAR 2019</h3>
          <p>Total Contribution: {{photograph2019}}</p>
        </div>
      </a>
    </div>

    <div class="bottom-one">
      <a href="/stats/2018">
        <div class="previous-one">
          <h3>YEAR 2018</h3>
          <p>Total Contribution: {{photograph2018}}</p>
        </div>
      </a>
    </div>

    <div class="bottom-one">
      <a href="/stats/2016">
        <div class="previous-one">
          <h3>YEAR 2016</h3>
          <p>Total Contribution: {{photograph2016}}</p>
        </div>
      </a>
    </div>

    <div class="bottom-one">
      <a href="/stats/2015">
        <div class="previous-one">
          <h3>YEAR 2015</h3>
          <p>Total Contribution: {{photograph2015}}</p>
        </div>
      </a>
    </div>
  </div>
</div>
{% endblock %}
